### python objects

In [5]:
#list uses [ ]
list = [ 1 , 2 , 3 ]
#index starts @ zero
#remember to use double [[ ]]
listoflists = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

In [6]:
#tuple uses ( )
tuple = ( 'a' , 'b' , 'c' ) 
#immutable list

In [7]:
#dictionaries use { }
dict = {'key1':1,'key2':2,'key3':3}
#keys are immutable
dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [8]:
#slicing
#[start (inclusive) : end (exclusive) : step]

### numpy array

In [9]:
import numpy as np
#arrays can have only 1 data type

In [10]:
#1D
a1d = np.array([1,2,3])
alist = np.array(list)
atuple = np.array(tuple)

In [11]:
#2D
a2d = np.array([[1,2,3] , [4,5,6]])
alistoflists = np.array(listoflists)
listofarrays = [ alistoflists , np.array ( [4,5,6] ) ]
alistofarrays = np.array(listofarrays)

In [10]:
#array attributes 
# shape, size, dtype

### pandas series & dataframe

In [12]:
import pandas as pd

In [13]:
# series -> single brackets [ ]
# dataframe -> double brackets [[ ]]

In [14]:
index = ["Leite", "Ovos", "Carne", "Arroz", "Feijão"]
data = [4, 3, 1, 5, 2]

In [15]:
#series
series = pd.Series(name="Compras", index=index, data=data)
print(series)
#sdict = pd.Series(dict)
#print(sdict)

Leite     4
Ovos      3
Carne     1
Arroz     5
Feijão    2
Name: Compras, dtype: int64

In [16]:
#dataframe
columns=["Unidade", "Quantidade",  "Preço Unitário"]
df = pd.DataFrame(index=pd.Index(data=index, name="Itens"),columns=columns,
    data=np.array([["Litro", "Dúzia", "Kilograma", "Kilograma", "Kilograma"],data,
        [3.00, 6.50, 25.90, 5.00, 3.80]    ]).T,)
df

          Unidade Quantidade Preço Unitário
Itens
Leite       Litro          4            3.0
Ovos        Dúzia          3            6.5
Carne   Kilograma          1           25.9
Arroz   Kilograma          5            5.0
Feijão  Kilograma          2            3.8

In [ ]:
#dataframe methods
#index #checking rows
#columns #checking columns
#dtypes #data types
#sort_index, sort_values 
#transpose
#len 
#head, tail, 
#info #data type, non-null amount of data 
#describe #count, mean, std, min, max

In [18]:
df.index

Index(['Leite', 'Ovos', 'Carne', 'Arroz', 'Feijão'], dtype='object', name='Itens')

In [17]:
df.columns

Index(['Unidade', 'Quantidade', 'Preço Unitário'], dtype='object')

In [15]:
#types of columns / data
df.dtypes

Unidade           object
Quantidade        object
Preço Unitário    object
dtype: object

In [16]:
#convertendo unidades (pandas interpreta 'mixed types' como strings)
df[["Quantidade",  "Preço Unitário"]] = df[["Quantidade",  "Preço Unitário"]].astype(float)

In [17]:
#preço por Kg
df["Preço Médio Por Kg"] = np.nan #adiciona coluna
mask = df["Unidade"] == "Kilograma" #só o que é peso kg
df.loc[mask, "Preço Médio Por Kg"] = (df.loc[mask, "Preço Unitário"] / df.loc[mask, "Quantidade"]).sum()
df.fillna(0) #preenche vazios
df

          Unidade  Quantidade  Preço Unitário  Preço Médio Por Kg
Itens
Leite       Litro         4.0             3.0                 NaN
Ovos        Dúzia         3.0             6.5                 NaN
Carne   Kilograma         1.0            25.9                28.8
Arroz   Kilograma         5.0             5.0                28.8
Feijão  Kilograma         2.0             3.8                28.8

In [44]:
#sorting
#df.sort_index()
df.sort_values(by="Unidade", ascending=False)

        Quantidade Unidade  Preço p/ Ud  Preço Total
Ovos            12      Ud         0.50         6.00
Leite            2       L         3.30         6.60
Arroz            5      Kg         5.00        25.00
Carne            1      Kg        29.99        29.99
Feijão           2      Kg         6.50        13.00

In [47]:
#loc, iloc
df.loc["Ovos", "Preço Total"]
#df.iloc[4, 3]

6.0

In [48]:
#slicing
#df.loc["Leite":, "Preço p/ Ud":]
df.iloc[3:, 2:]

       Preço p/ Ud  Preço Total
Leite          3.3          6.6
Ovos           0.5          6.0

In [63]:
#loop
for lab, row in df.iterrows() :
    df.loc[lab, "Quantidade"] = str(row["Quantidade"])
    print(lab + ": " + row["Quantidade"])

Arroz: 5
Carne: 1
Feijão: 2
Leite: 2
Ovos: 12

In [4]:
#merge
stores = pd.DataFrame(columns=["store_id", "store_name"],
    data=[[1, "Pão de Açúcar"],[2, "Dia"],[3, "Extra"]]).set_index("store_id")

products = pd.DataFrame(columns=["product_id", "product_name"],
    data=[[1, "Leite"],[2, "Ovos"],[3, "Arroz"],[4, "Feijão"],[5, "Carne"],[6, "Frango"],[7, "Peixe"]]
    ).set_index("product_id")  # set_index: usa a coluna especificada como índice

orders = pd.DataFrame(columns=["user_id", "store_id", "product_id"],data=[[1, 1, 1],[2, 2, 2], [3, 3, 3] ])

stores = stores.reset_index()
sales = pd.merge(left=orders,right=stores,on="store_id")
sales

   user_id  store_id  product_id     store_name
0        1         1           1  Pão de Açúcar
1        2         2           2            Dia
2        3         3           3          Extra