In [2]:
import os
import numpy as np
import pandas as pd

# map

In [2]:
s = pd.Series( name="Compras",
                      index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"],  
                      data=[2, 12, 1, 5, 2])

In [3]:
#função de transformação
def fn(x):
    return x ** 2 + x - 100

In [4]:
#transformação elemento a elemento
s.map(fn)

Leite    -94
Ovos      56
Carne    -98
Arroz    -70
Feijão   -94
Name: Compras, dtype: int64

In [9]:
df = pd.DataFrame(
    index=pd.Index(data=["Leite", "Ovos", "Carne", "Arroz", "Feijão"], name="Itens"),
    columns=["Quantidade",  "Preço Unitário"],
    data=np.array([  [4, 3, 1, 5, 2],
                            [3.00, 6.50, 25.90, 5.00, 3.80]    ]).T,)
df

        Quantidade  Preço Unitário
Itens
Leite          4.0             3.0
Ovos           3.0             6.5
Carne          1.0            25.9
Arroz          5.0             5.0
Feijão         2.0             3.8

In [10]:
#função de transformação
def fn(x):
    return x ** 3 / 100

In [11]:
#transformação elemento a elemento
df.applymap(fn)

        Quantidade  Preço Unitário
Itens
Leite         0.64         0.27000
Ovos          0.27         2.74625
Carne         0.01       173.73979
Arroz         1.25         1.25000
Feijão        0.08         0.54872

In [12]:
#linhas e colunas
def fn(x):
    return x.product()

In [13]:
df.apply(fn)

Quantidade         120.00
Preço Unitário    9595.95
dtype: float64

In [14]:
df.apply(fn, axis=1)

Itens
Leite     12.0
Ovos      19.5
Carne     25.9
Arroz     25.0
Feijão     7.6
dtype: float64

In [3]:
file_name = os.path.join("data", "dataset.csv")
dataset = pd.read_csv(file_name, sep=",", index_col=0, encoding="utf-8")

C:\Users\tati\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
# baseado em uma thread do Kaggle sobre esse desafio, os dias da semana são definidos na seguinte ordem:
week_days = ["saturday", "sunday", "monday", "tuesday", "wednesday", "thursday", "friday"]

# traduzindo no dataset
dataset.order_dow = dataset.order_dow.map(lambda wd: week_days[wd])
dataset.head()

   order_id  user_id  order_dow department        aisle product_name
0   1187899        1  wednesday  beverages  soft drinks         Soda
1   2757217       67   saturday  beverages  soft drinks         Soda
2    632715      676   saturday  beverages  soft drinks         Soda
3   1167274      760  wednesday  beverages  soft drinks         Soda
4   3347074      804    tuesday  beverages  soft drinks         Soda

# lambda

In [5]:
raise_to_power = lambda x, y: x ** y

In [6]:
raise_to_power(2, 3)

8

### anonymously embed operations within functions

In [ ]:
map(lambda function, sequence to apply function)

In [ ]:
filter(lambda function, variable to filter)

In [ ]:
from functools import reduce
reduce(lambda function, list to apply function)

In [ ]:
default and flexible arguments
*arg (is a list)
**kwargs (is a dictionary)

In [ ]:
for k,v in kwargs.items():
        print(k + ": " + v)

In [ ]:
scope
Local
Enclosing functions
Global
Built-in

In [ ]:
global variable
nonlocal variable
import builtins
dir(builtins)